*{
	padding:0px;
	margin:0px;
}
a{
	text-decoration:none;
}
ul {
	list-style:none;
}
body{
	color: #333;
    font: 12px/1.5 Tahoma;
	background: #f1f5f8;
}
#header {
	display: block;
    width: 100%;
	height:100px;
    background: #0078d8 url(headbg.png) center top repeat;
	min-width:960px;
	font-size:16px;
	font-family:微軟雅黑;
	color:#fff;
}

.wrap{
	width:960px;
	margin:auto;
}
#header  .wrap.add{
	padding-top:20px;
	height:100px;
}
#header  .wrap img{
	float:left;
	margin-right:100px;
}
#header  .wrap .nav1 li{
	float:left;
	min-width:100px;
	height:100px;
	margin-top:-20px;
	line-height:80px;
	text-align:center;
}
#header  .wrap .nav1 li a{
	color:#fff;
	display:block;
	width:100%;
	height:100%;
	padding:0px 10px;
}
#header  .wrap .nav1 li .hover{
	background-image:url('nav_hover.png');
}
#header  .wrap .right{
	float:right;
	margin-right:10px;
	line-height:50px;
}
#header  .wrap .right a{
	color:#fff;
}
#main {
	margin-top:5px;
}
.box{
	margin-top:10px;
}
.box>.title{
	background: #f7f7f7;
    border: 1px solid #e8e8e8;
	font-size: 12px;
    padding: 7px 10px;

}
.box .content {
	background-color:#fff;
    padding: 7px 10px;
	min-height:20px;
	overflow:hidden;
	color:#333;
}
.plate>div{
	float:left;
	width:300px;
	margin-right:10px;
}
.plate>div .left{
	float:left;
	width:27px;
	height:50px;
	padding-top:5px;
	margin-right:20px;
}
.plate>div .left img {
	position:relative;
	top:10px;
}
.plate>div .right {
	margin-bottom:10px;
}
.plate>div .right .title{
	font-size:16px;
}
.box .content .link a{
	color:#333;
	font-size:17px;
	margin-right:20px;
}
#footer{
	margin-top:10px;
	padding-top:15px;
	text-align:center;
	border-top:1px solid #ccc;
	margin-bottom:10px;
}
.boxE {
	background-color:#fff;
	margin-top:10px;
	overflow:hidden;

}
.boxE .top{
	border-bottom:1px solid #ccc;
	height:30px;
	line-height:30px;	
	padding-left:20px;
}
.boxE .top>span{
	display:block;
	float:left;
	min-width:70px;
	text-align:center;
	position:relative;
	margin-right:10px;
	color:red;
	cursor:pointer;
	font-weight: bold;
}
.boxE .top>span.selected{

	border-top:1px solid #ccc;
	border-left:1px solid #ccc;
	border-right:1px solid #ccc;


}
.boxE .top>span.selected.hover:after{
	content:'';
	display:block;
	position:absolute;
	bottom:0px;
	z-index:1;
	background-color:#fff;
	width:100%;
	height:5px;
}
.boxE .main {
	height:120px;
	display:none;
}
.boxE .main.x1 p{
	margin-bottom:5px;
}
.boxE .main.x1 a.plate{
	color: #105cb6;
}
.boxE .main.x1 a.article{
	color: #333;
	
}
.boxE .main.x1 .left{
	float:left;
	width:470px;
	margin-right:10px;
	padding:5px;
	height:100%;
	font-weight: bold;
    color: #ff0000;
}
.boxE .main.x1 .right{
	padding:5px;
	height:100%;
	font-weight: bold;
    color: #ff0000;
}