<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <link rel="stylesheet" href="__PUBLIC__/Install/css/uikit.min.css" />
        <script src="__PUBLIC__/Install/js/jquery.js"></script>
        <script src="__PUBLIC__/Install/js/uikit.min.js"></script>
    </head>
    <body>
		<nav style='padding:10px;' class="uk-navbar">
			<ul class="uk-navbar-nav uk-grid-small">
				<li class="uk-active "><button class='uk-button uk-button-primary uk-button-large' >安装协议</button></li>
				<li class="uk-active "><button class='uk-button uk-button-large' >环境检测</button></li>
				<li class="uk-active "><button class='uk-button uk-button-large' >站点信息设置</button></li>
				<li class="uk-active "><button class='uk-button uk-button-large' >安装</button></li>
			</ul>
		</nav>
		<div style="height:915px;background-position:center; background-image:url('http://pic.3h3.com/up/2015-1/20151117170929141600.jpg');   background-size: cover; width:100%">
			<div style='color:#fff; padding:10px;' class='uk-width-1-2 uk-container-center'>
				<p class='uk-h1'>Find开源论坛系统 安装协议</p>
				<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;作者的话：其实毕业前就想独立开发一套论坛系统,之前有尝试过开发，无一例外全部都放弃了,独立开发要做的工作真的很多,这次使用了BootStrap框架,Uikit框架,thinkPHP框架，后台的模版是我改进里程密博客系统的,在这里非常感谢里程密作者,最后也没什么说的啦</p>
				<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;感谢：本套程序使用了ThinkPHP,BootStrap,Uikit,在这里感谢ThinkPHP,BootStrap,里程密的开源,衷心的感谢</p>
				<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1.Find是一个轻论坛系统,精简,更多功能正在开发中······</p>
				<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2.作者：封建</p>
				<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3.谢谢您选择下载Find,虽然整套系统写的很凌乱,但是希望我们的努力能为您提供一个简单、强大的bbs系统。</p>
				<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4..如果您对Find有BUG提交或者功能建议 可以发送邮件到作者邮箱915003293@qq.com</p>
				<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;5.谢谢您选择下载Find,虽然整套系统写的很凌乱,但是希望我们的努力能为您提供一个简单、强大的bbs系统。</p>
				<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;6.用户须知：本协议是您与顶想公司之间关于您使用Find产品及服务的法律协议。无论您是个人或组织、盈利与否、用途如何（包括以学习和研究为目的），均需仔细阅读本协议，包括免除或者限制顶想责任的免责条款及对您的权利限制。请您审阅并接受或不接受本服务条款。如您不同意本服务条款及/或顶想随时对其的修改，您应不使用或主动取消Find。否则，您的任何对里Find的相关服务的注册、登陆、下载、查看等使用行为将被视为您对本服务条款全部的完全接受，包括接受顶想对服务条款随时所做的任何修改。</p>
				<p><a class="uk-button uk-button-success" href="{:U('Index/index',array('step'=>2))}">同意协议</a></p>
			</div>
		</div>
    </body>
</html>